.App {
  text-align: center;
}
.signin {
  width: 300px;
  margin: 0 auto;
}
.menu {
  display: flex;
}
.menulist {
  width: 400px;
  text-align: left;
  position: sticky;
  top: 0;
  height: fit-content;
}
.header{
  margin:10px 15px;
}
.page{
  position: sticky;
  top: 0;
  height: fit-content;
  z-index: 1;
  background-color: white;
}
.page-header{
  display: flex;
  justify-content: space-around;
  height: 40px;
  padding:10px;
}